In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import koreanize_matplotlib 
import os

In [2]:
os.chdir(r"C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가")

## 전국 부동산 실거래가 파일이 총 296개 있음. 
* 파일 목록을 불러와서 1개의 데이터프레임으로 합쳐보세요

In [4]:
# 파일목록 불러오기 
file_list = os.listdir(r"C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가")

In [6]:
file_list

['1999_01.csv',
 '1999_02.csv',
 '1999_03.csv',
 '1999_04.csv',
 '1999_05.csv',
 '1999_06.csv',
 '1999_07.csv',
 '1999_08.csv',
 '1999_09.csv',
 '1999_10.csv',
 '1999_11.csv',
 '1999_12.csv',
 '2000_01.csv',
 '2000_02.csv',
 '2000_03.csv',
 '2000_04.csv',
 '2000_05.csv',
 '2000_06.csv',
 '2000_07.csv',
 '2000_08.csv',
 '2000_09.csv',
 '2000_10.csv',
 '2000_11.csv',
 '2000_12.csv',
 '2001_01.csv',
 '2001_02.csv',
 '2001_03.csv',
 '2001_04.csv',
 '2001_05.csv',
 '2001_06.csv',
 '2001_07.csv',
 '2001_08.csv',
 '2001_09.csv',
 '2001_10.csv',
 '2001_11.csv',
 '2001_12.csv',
 '2002_01.csv',
 '2002_02.csv',
 '2002_03.csv',
 '2002_04.csv',
 '2002_05.csv',
 '2002_06.csv',
 '2002_07.csv',
 '2002_08.csv',
 '2002_09.csv',
 '2002_10.csv',
 '2002_11.csv',
 '2002_12.csv',
 '2003_01.csv',
 '2003_02.csv',
 '2003_03.csv',
 '2003_04.csv',
 '2003_05.csv',
 '2003_06.csv',
 '2003_07.csv',
 '2003_08.csv',
 '2003_09.csv',
 '2003_10.csv',
 '2003_11.csv',
 '2003_12.csv',
 '2004_01.csv',
 '2004_02.csv',
 '2004_03.csv',
 '2004_04.csv',
 '2004_05.csv',
 '2004_06.csv',
 '2004_07.csv',
 '2004_08.csv',
 '2004_09.csv',
 '2004_10.csv',
 '2004_11.csv',
 '2004_12.csv',
 '2005_01.csv',
 '2005_02.csv',
 '2005_03.csv',
 '2005_04.csv',
 '2005_05.csv',
 '2005_06.csv',
 '2005_07.csv',
 '2005_08.csv',
 '2005_09.csv',
 '2005_10.csv',
 '2005_11.csv',
 '2005_12.csv',
 '2006_01.csv',
 '2006_02.csv',
 '2006_03.csv',
 '2006_04.csv',
 '2006_05.csv',
 '2006_06.csv',
 '2006_07.csv',
 '2006_08.csv',
 '2006_09.csv',
 '2006_10.csv',
 '2006_11.csv',
 '2006_12.csv',
 '2007_01.csv',
 '2007_02.csv',
 '2007_03.csv',
 '2007_04.csv',
 '2007_05.csv',
 '2007_06.csv',
 '2007_07.csv',
 '2007_08.csv',
 '2007_09.csv',
 '2007_10.csv',
 '2007_11.csv',
 '2007_12.csv',
 '2008_01.csv',
 '2008_02.csv',
 '2008_03.csv',
 '2008_04.csv',
 '2008_05.csv',
 '2008_06.csv',
 '2008_07.csv',
 '2008_08.csv',
 '2008_09.csv',
 '2008_10.csv',
 '2008_11.csv',
 '2008_12.csv',
 '2009_01.csv',
 '2009_02.csv',
 '2009_03.csv',
 '2009_04.csv',
 '2009_05.csv',
 '2009_06.csv',
 '2009_07.csv',
 '2009_08.csv',
 '2009_09.csv',
 '2009_10.csv',
 '2009_11.csv',
 '2009_12.csv',
 '2010_01.csv',
 '2010_02.csv',
 '2010_03.csv',
 '2010_04.csv',
 '2010_05.csv',
 '2010_06.csv',
 '2010_07.csv',
 '2010_08.csv',
 '2010_09.csv',
 '2010_10.csv',
 '2010_11.csv',
 '2010_12.csv',
 '2011_01.csv',
 '2011_02.csv',
 '2011_03.csv',
 '2011_04.csv',
 '2011_05.csv',
 '2011_06.csv',
 '2011_07.csv',
 '2011_08.csv',
 '2011_09.csv',
 '2011_10.csv',
 '2011_11.csv',
 '2011_12.csv',
 '2012_01.csv',
 '2012_02.csv',
 '2012_03.csv',
 '2012_04.csv',
 '2012_05.csv',
 '2012_06.csv',
 '2012_07.csv',
 '2012_08.csv',
 '2012_09.csv',
 '2012_10.csv',
 '2012_11.csv',
 '2012_12.csv',
 '2013_01.csv',
 '2013_02.csv',
 '2013_03.csv',
 '2013_04.csv',
 '2014_01.csv',
 '2014_02.csv',
 '2014_03.csv',
 '2014_04.csv',
 '2014_05.csv',
 '2014_06.csv',
 '2014_07.csv',
 '2014_08.csv',
 '2014_09.csv',
 '2014_10.csv',
 '2014_11.csv',
 '2014_12.csv',
 '2015_01.csv',
 '2015_02.csv',
 '2015_03.csv',
 '2015_04.csv',
 '2015_05.csv',
 '2015_06.csv',
 '2015_07.csv',
 '2015_08.csv',
 '2015_09.csv',
 '2015_10.csv',
 '2015_11.csv',
 '2015_12.csv',
 '2016_01.csv',
 '2016_02.csv',
 '2016_03.csv',
 '2016_04.csv',
 '2016_05.csv',
 '2016_06.csv',
 '2016_07.csv',
 '2016_08.csv',
 '2016_09.csv',
 '2016_10.csv',
 '2016_11.csv',
 '2016_12.csv',
 '2017_01.csv',
 '2017_02.csv',
 '2017_03.csv',
 '2017_04.csv',
 '2017_05.csv',
 '2017_06.csv',
 '2017_07.csv',
 '2017_08.csv',
 '2017_09.csv',
 '2017_10.csv',
 '2017_11.csv',
 '2017_12.csv',
 '2018_01.csv',
 '2018_02.csv',
 '2018_03.csv',
 '2018_04.csv',
 '2018_05.csv',
 '2018_06.csv',
 '2018_07.csv',
 '2018_08.csv',
 '2018_09.csv',
 '2018_10.csv',
 '2018_11.csv',
 '2018_12.csv',
 '2019_01.csv',
 '2019_02.csv',
 '2019_03.csv',
 '2019_04.csv',
 '2019_05.csv',
 '2019_06.csv',
 '2019_07.csv',
 '2019_08.csv',
 '2019_09.csv',
 '2019_10.csv',
 '2019_11.csv',
 '2019_12.csv',
 '2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv',
 '2021_01.csv',
 '2021_02.csv',
 '2021_03.csv',
 '2021_04.csv',
 '2021_05.csv',
 '2021_06.csv',
 '2021_07.csv',
 '2021_08.csv',
 '2021_09.csv',
 '2021_10.csv',
 '2021_11.csv',
 '2021_12.csv',
 '2022_01.csv',
 '2022_02.csv',
 '2022_03.csv',
 '2022_04.csv',
 '2022_05.csv',
 '2022_06.csv',
 '2022_07.csv',
 '2022_08.csv',
 '2022_09.csv',
 '2022_10.csv',
 '2022_11.csv',
 '2022_12.csv',
 '2023_01.csv',
 '2023_02.csv',
 '2023_03.csv',
 '2023_04.csv',
 '2023_05.csv',
 '2023_06.csv',
 '2023_07.csv',
 '2023_08.csv',
 '법정동코드 전체자료.txt',
 '아파트 매매 상세자료 조회 기술문서.hwp',
 '아파트주소2좌표변환.csv',
 '아파트주소2좌표변환.xlsx',
 '전국부동산실거래가1999-2023.csv',
 '전국부동산실거래가2013-2023.csv',
 '전국학군정보.xlsx',
 '한국은행기준금리1999-2023.xlsx']

## 과제 
* 부동산 실 거래가 파일만 불러와서 1개의 데이터프레임으로 만들기

In [7]:
merged_data = pd.DataFrame()

In [9]:
directory_path = r"C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가"
file_list = [os.path.join(directory_path, file) for file in os.listdir(directory_path) if file.endswith('.csv')]

In [81]:
os.listdir(directory_path)[:288]

['1999_01.csv',
 '1999_02.csv',
 '1999_03.csv',
 '1999_04.csv',
 '1999_05.csv',
 '1999_06.csv',
 '1999_07.csv',
 '1999_08.csv',
 '1999_09.csv',
 '1999_10.csv',
 '1999_11.csv',
 '1999_12.csv',
 '2000_01.csv',
 '2000_02.csv',
 '2000_03.csv',
 '2000_04.csv',
 '2000_05.csv',
 '2000_06.csv',
 '2000_07.csv',
 '2000_08.csv',
 '2000_09.csv',
 '2000_10.csv',
 '2000_11.csv',
 '2000_12.csv',
 '2001_01.csv',
 '2001_02.csv',
 '2001_03.csv',
 '2001_04.csv',
 '2001_05.csv',
 '2001_06.csv',
 '2001_07.csv',
 '2001_08.csv',
 '2001_09.csv',
 '2001_10.csv',
 '2001_11.csv',
 '2001_12.csv',
 '2002_01.csv',
 '2002_02.csv',
 '2002_03.csv',
 '2002_04.csv',
 '2002_05.csv',
 '2002_06.csv',
 '2002_07.csv',
 '2002_08.csv',
 '2002_09.csv',
 '2002_10.csv',
 '2002_11.csv',
 '2002_12.csv',
 '2003_01.csv',
 '2003_02.csv',
 '2003_03.csv',
 '2003_04.csv',
 '2003_05.csv',
 '2003_06.csv',
 '2003_07.csv',
 '2003_08.csv',
 '2003_09.csv',
 '2003_10.csv',
 '2003_11.csv',
 '2003_12.csv',
 '2004_01.csv',
 '2004_02.csv',
 '2004_03.csv',
 '2004_04.csv',
 '2004_05.csv',
 '2004_06.csv',
 '2004_07.csv',
 '2004_08.csv',
 '2004_09.csv',
 '2004_10.csv',
 '2004_11.csv',
 '2004_12.csv',
 '2005_01.csv',
 '2005_02.csv',
 '2005_03.csv',
 '2005_04.csv',
 '2005_05.csv',
 '2005_06.csv',
 '2005_07.csv',
 '2005_08.csv',
 '2005_09.csv',
 '2005_10.csv',
 '2005_11.csv',
 '2005_12.csv',
 '2006_01.csv',
 '2006_02.csv',
 '2006_03.csv',
 '2006_04.csv',
 '2006_05.csv',
 '2006_06.csv',
 '2006_07.csv',
 '2006_08.csv',
 '2006_09.csv',
 '2006_10.csv',
 '2006_11.csv',
 '2006_12.csv',
 '2007_01.csv',
 '2007_02.csv',
 '2007_03.csv',
 '2007_04.csv',
 '2007_05.csv',
 '2007_06.csv',
 '2007_07.csv',
 '2007_08.csv',
 '2007_09.csv',
 '2007_10.csv',
 '2007_11.csv',
 '2007_12.csv',
 '2008_01.csv',
 '2008_02.csv',
 '2008_03.csv',
 '2008_04.csv',
 '2008_05.csv',
 '2008_06.csv',
 '2008_07.csv',
 '2008_08.csv',
 '2008_09.csv',
 '2008_10.csv',
 '2008_11.csv',
 '2008_12.csv',
 '2009_01.csv',
 '2009_02.csv',
 '2009_03.csv',
 '2009_04.csv',
 '2009_05.csv',
 '2009_06.csv',
 '2009_07.csv',
 '2009_08.csv',
 '2009_09.csv',
 '2009_10.csv',
 '2009_11.csv',
 '2009_12.csv',
 '2010_01.csv',
 '2010_02.csv',
 '2010_03.csv',
 '2010_04.csv',
 '2010_05.csv',
 '2010_06.csv',
 '2010_07.csv',
 '2010_08.csv',
 '2010_09.csv',
 '2010_10.csv',
 '2010_11.csv',
 '2010_12.csv',
 '2011_01.csv',
 '2011_02.csv',
 '2011_03.csv',
 '2011_04.csv',
 '2011_05.csv',
 '2011_06.csv',
 '2011_07.csv',
 '2011_08.csv',
 '2011_09.csv',
 '2011_10.csv',
 '2011_11.csv',
 '2011_12.csv',
 '2012_01.csv',
 '2012_02.csv',
 '2012_03.csv',
 '2012_04.csv',
 '2012_05.csv',
 '2012_06.csv',
 '2012_07.csv',
 '2012_08.csv',
 '2012_09.csv',
 '2012_10.csv',
 '2012_11.csv',
 '2012_12.csv',
 '2013_01.csv',
 '2013_02.csv',
 '2013_03.csv',
 '2013_04.csv',
 '2014_01.csv',
 '2014_02.csv',
 '2014_03.csv',
 '2014_04.csv',
 '2014_05.csv',
 '2014_06.csv',
 '2014_07.csv',
 '2014_08.csv',
 '2014_09.csv',
 '2014_10.csv',
 '2014_11.csv',
 '2014_12.csv',
 '2015_01.csv',
 '2015_02.csv',
 '2015_03.csv',
 '2015_04.csv',
 '2015_05.csv',
 '2015_06.csv',
 '2015_07.csv',
 '2015_08.csv',
 '2015_09.csv',
 '2015_10.csv',
 '2015_11.csv',
 '2015_12.csv',
 '2016_01.csv',
 '2016_02.csv',
 '2016_03.csv',
 '2016_04.csv',
 '2016_05.csv',
 '2016_06.csv',
 '2016_07.csv',
 '2016_08.csv',
 '2016_09.csv',
 '2016_10.csv',
 '2016_11.csv',
 '2016_12.csv',
 '2017_01.csv',
 '2017_02.csv',
 '2017_03.csv',
 '2017_04.csv',
 '2017_05.csv',
 '2017_06.csv',
 '2017_07.csv',
 '2017_08.csv',
 '2017_09.csv',
 '2017_10.csv',
 '2017_11.csv',
 '2017_12.csv',
 '2018_01.csv',
 '2018_02.csv',
 '2018_03.csv',
 '2018_04.csv',
 '2018_05.csv',
 '2018_06.csv',
 '2018_07.csv',
 '2018_08.csv',
 '2018_09.csv',
 '2018_10.csv',
 '2018_11.csv',
 '2018_12.csv',
 '2019_01.csv',
 '2019_02.csv',
 '2019_03.csv',
 '2019_04.csv',
 '2019_05.csv',
 '2019_06.csv',
 '2019_07.csv',
 '2019_08.csv',
 '2019_09.csv',
 '2019_10.csv',
 '2019_11.csv',
 '2019_12.csv',
 '2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv',
 '2021_01.csv',
 '2021_02.csv',
 '2021_03.csv',
 '2021_04.csv',
 '2021_05.csv',
 '2021_06.csv',
 '2021_07.csv',
 '2021_08.csv',
 '2021_09.csv',
 '2021_10.csv',
 '2021_11.csv',
 '2021_12.csv',
 '2022_01.csv',
 '2022_02.csv',
 '2022_03.csv',
 '2022_04.csv',
 '2022_05.csv',
 '2022_06.csv',
 '2022_07.csv',
 '2022_08.csv',
 '2022_09.csv',
 '2022_10.csv',
 '2022_11.csv',
 '2022_12.csv',
 '2023_01.csv',
 '2023_02.csv',
 '2023_03.csv',
 '2023_04.csv',
 '2023_05.csv',
 '2023_06.csv',
 '2023_07.csv',
 '2023_08.csv']

In [62]:
data = pd.read_csv(r"C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2006_01.csv",encoding="cp949",sep=",",skiprows=15)

In [63]:
data

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 강릉시 견소동,202,202,0,송정한신,43.38,200601,24,"4,200",1,1997,경강로2539번길 8,NaN,,-,-
1,강원특별자치도 강릉시 교동,1750,1750,0,교동1주공,59.89,200601,6,"7,500",2,1999,가작로 78,NaN,,-,-
2,강원특별자치도 강릉시 교동,1750,1750,0,교동1주공,59.89,200601,9,"8,500",11,1999,가작로 78,NaN,,-,-
3,강원특별자치도 강릉시 교동,1750,1750,0,교동1주공,84.84,200601,10,"12,500",5,1999,가작로 78,NaN,,-,-
4,강원특별자치도 강릉시 교동,1750,1750,0,교동1주공,59.89,200601,12,"5,998",2,1999,가작로 78,NaN,,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25914,충청북도 충주시 호암동,135,135,0,진도,59.76,200601,19,"6,400",7,1994,호암중앙2로 27,NaN,,-,-
25915,충청북도 충주시 호암동,558-16,558,16,한양,59.84,200601,6,"5,500",3,1994,예성로 9,NaN,,-,-
25916,충청북도 충주시 호암동,558-16,558,16,한양,59.84,200601,13,"4,500",5,1994,예성로 9,NaN,,-,-
25917,충청북도 충주시 호암동,547-6,547,6,호반현대,84.96,200601,31,"9,000",2,1994,신촌2길 29,NaN,,-,-
25918,충청북도 충주시 호암동,547-6,547,6,호반현대,84.96,200601,31,"7,200",11,1994,신촌2길 29,NaN,,-,-

In [76]:
file_list

['C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\1999_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2000_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2001_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2002_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2003_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2004_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2005_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2006_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2007_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2008_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2009_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2010_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2011_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2012_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2013_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2013_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2013_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2013_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2014_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2015_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2016_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2017_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2018_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2019_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2020_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2021_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_01.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_02.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_03.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_04.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_05.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_06.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_07.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_08.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_09.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_10.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_11.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2022_12.csv',
 'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가\\2023_01.csv',

In [72]:
dataframes = []

for file_path in file_list:
    try:
        # 빈 행이나 이상한 문자를 스킵하고 데이터 불러오기
        data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
        
        # 데이터가 비어있는 경우 건너뛰기
        if not data.empty:
            dataframes.append(data)
        else:
            print(f"데이터가 비어있는 파일: {file_path}")
    except Exception as e:
        print(f"파일 불러오기 오류: {file_path}, 에러 메시지: {str(e)}")

# 리스트에 있는 모든 DataFrame을 concat 함수로 병합
merged_data = pd.concat(dataframes, ignore_index=True)

데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_09.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_10.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_11.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\1999_12.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_09.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_10.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_11.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2000_12.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_09.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_10.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_11.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2001_12.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_09.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_10.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_11.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2002_12.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_09.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_10.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_11.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2003_12.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_09.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_10.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_11.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2004_12.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_01.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_02.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_03.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_04.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_05.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_06.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_07.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_08.csv
데이터가 비어있는 파일: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\2005_12.csv

C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)

C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)
C:\Users\hi\AppData\Local\Temp\ipykernel_5372\3392433950.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding="cp949", sep=",", skiprows=15)

파일 불러오기 오류: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\아파트주소2좌표변환.csv, 에러 메시지: 'cp949' codec can't decode byte 0xeb in position 0: illegal multibyte sequence
파일 불러오기 오류: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\전국부동산실거래가1999-2023.csv, 에러 메시지: 'cp949' codec can't decode byte 0xec in position 0: illegal multibyte sequence
파일 불러오기 오류: C:\Users\hi\Desktop\bigdata\전국부동산실거래가\전국부동산실거래가\전국부동산실거래가2013-2023.csv, 에러 메시지: 'cp949' codec can't decode byte 0xec in position 0: illegal multibyte sequence

In [73]:
merged_data

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.400,200509,23,"5,000",11,1998.0,양록길23번길 11,NaN,,-,-
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.990,200510,30,"12,750",19,2003.0,오목로 73,NaN,,-,-
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.878,200510,20,"5,750",3,1997.0,시민로245번길 10,NaN,,-,-
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.830,200510,20,"5,500",8,1998.0,회룡로 245,NaN,,-,-
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.730,200511,21,"12,200",11,1992.0,오목로 36,NaN,,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9591338,충청북도 충주시 호암동,547-6,0547,6.0,호반현대,84.960,202308,12,"15,700",2,1994.0,신촌2길 29,NaN,,중개거래,충북 충주시
9591339,충청북도 충주시 호암동,221-1,0221,1.0,호암리버빌(2단지),84.680,202308,10,"20,700",3,2002.0,호암중앙2로 5,NaN,,중개거래,충북 충주시
9591340,충청북도 충주시 호암동,1191,1191,0.0,호암힐데스하임,84.950,202308,21,"40,200",11,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591341,충청북도 충주시 호암동,1191,1191,0.0,호암힐데스하임,99.870,202308,26,"50,000",13,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591342,충청북도 충주시 호암동,1191,1191,0.0,호암힐데스하임,99.800,202308,31,"46,000",3,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시

In [74]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        float64
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      int64
 7   계약일       int64
 8   거래금액(만원)  object
 9   층         int64
 10  건축년도      float64
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(4), int64(3), object(9)
memory usage: 1.1+ GB

In [82]:
data

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 강릉시 견소동,202,0202,0,송정한신,59.800,202308,8,"23,000",9,1997.0,경강로2539번길 8,NaN,,중개거래,강릉시
1,강원특별자치도 강릉시 견소동,202,0202,0,송정한신,84.945,202308,14,"31,000",13,1997.0,경강로2539번길 8,NaN,,중개거래,강릉시
2,강원특별자치도 강릉시 견소동,202,0202,0,송정한신,43.380,202308,30,"16,400",10,1997.0,경강로2539번길 8,NaN,,중개거래,강릉시
3,강원특별자치도 강릉시 견소동,289,0289,0,송정해변신도브래뉴아파트,59.990,202308,19,"24,500",5,2005.0,경강로2539번길 23,NaN,,중개거래,강릉시
4,강원특별자치도 강릉시 견소동,289,0289,0,송정해변신도브래뉴아파트,84.990,202308,22,"28,500",4,2005.0,경강로2539번길 22,NaN,,중개거래,강릉시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30911,충청북도 충주시 호암동,547-6,0547,6,호반현대,84.960,202308,12,"15,700",2,1994.0,신촌2길 29,NaN,,중개거래,충북 충주시
30912,충청북도 충주시 호암동,221-1,0221,1,호암리버빌(2단지),84.680,202308,10,"20,700",3,2002.0,호암중앙2로 5,NaN,,중개거래,충북 충주시
30913,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,84.950,202308,21,"40,200",11,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
30914,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,99.870,202308,26,"50,000",13,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
30915,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,99.800,202308,31,"46,000",3,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30916 entries, 0 to 30915
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       30916 non-null  object
 1   번지        30915 non-null  object
 2   본번        30916 non-null  object
 3   부번        30916 non-null  int64
 4   단지명       30916 non-null  object
 5   전용면적(㎡)   30916 non-null  float64
 6   계약년월      30916 non-null  int64
 7   계약일       30916 non-null  int64
 8   거래금액(만원)  30916 non-null  object
 9   층         30916 non-null  int64
 10  건축년도      30903 non-null  float64
 11  도로명       30916 non-null  object
 12  해제사유발생일   602 non-null    float64
 13  등기신청일자    30916 non-null  object
 14  거래유형      30916 non-null  object
 15  중개사소재지    30916 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 3.8+ MB

## 데이터 타입 맞추기

In [92]:
data["거래금액(만원)"] = data["거래금액(만원)"].apply(lambda x: x.replace(",","")).astype(int)

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30916 entries, 0 to 30915
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       30916 non-null  object
 1   번지        30915 non-null  object
 2   본번        30916 non-null  object
 3   부번        30916 non-null  int64
 4   단지명       30916 non-null  object
 5   전용면적(㎡)   30916 non-null  float64
 6   계약년월      30916 non-null  int64
 7   계약일       30916 non-null  int64
 8   거래금액(만원)  30916 non-null  int32
 9   층         30916 non-null  int64
 10  건축년도      30903 non-null  float64
 11  도로명       30916 non-null  object
 12  해제사유발생일   602 non-null    float64
 13  등기신청일자    30916 non-null  object
 14  거래유형      30916 non-null  object
 15  중개사소재지    30916 non-null  object
dtypes: float64(3), int32(1), int64(4), object(8)
memory usage: 3.7+ MB

In [ ]:
data[""]

In [108]:
data[data["해제사유발생일"].notnull()]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
12,강원특별자치도 강릉시 교동,18-16,0018,16,교동대림,84.9800,202308,22,22400,3,1997.0,수리골길17번길 21,20230901.0,,중개거래,강릉시
20,강원특별자치도 강릉시 교동,1034,1034,0,정아타워맨션,84.9500,202308,9,16000,2,1992.0,화부산로 29,20230828.0,,중개거래,강릉시
34,강원특별자치도 강릉시 성남동,110-3,0110,3,동호회관,69.6000,202308,4,14700,2,1987.0,금성로45번길 12,20230825.0,,중개거래,강릉시
62,강원특별자치도 강릉시 입암동,321,0321,0,강릉입암동금호어울림,157.2200,202308,3,43000,15,2007.0,성덕로 328-15,20230830.0,,직거래,-
79,강원특별자치도 강릉시 입암동,709-1,0709,1,입암6주공,49.6200,202308,21,13900,11,1998.0,성덕포남로 39,20230831.0,,중개거래,강릉시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30640,충청북도 청주흥덕구 신봉동,177,0177,0,우림필유,132.3215,202308,19,34300,8,2007.0,사운로359번길 13,20230822.0,,중개거래,대전 중구
30712,충청북도 충주시 대소원면 본리,645,0645,0,충주코아루퍼스트아파트,59.3554,202308,3,14500,14,2016.0,첨단산업4로 24,20230804.0,,직거래,-
30760,충청북도 충주시 연수동,930,0930,0,세원,59.5200,202308,27,7000,10,1991.0,번영대로 120,20230828.0,,중개거래,충북 충주시
30849,충청북도 충주시 중앙탑면 용전리,656,0656,0,미진이지비아,59.9941,202308,11,17300,7,2017.0,기업도시로 189,20230811.0,,중개거래,충북 충주시
30885,충청북도 충주시 칠금동,825,0825,0,코오롱동신,75.6260,202308,9,21900,6,1997.0,금릉로 14,20230811.0,,중개거래,충북 충주시

In [109]:
data.describe()

,부번,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,해제사유발생일
count,30916.000000,30916.000000,30916.0,30916.000000,30916.000000,30916.000000,30903.000000,6.020000e+02
mean,3.702128,73.647376,202308.0,14.746895,39676.369809,9.976355,2005.249005,2.023084e+07
std,36.119189,23.564313,0.0,8.460930,39744.846529,6.828003,10.450482,3.535772e+01
min,0.000000,11.880000,202308.0,1.000000,630.000000,-1.000000,1962.000000,2.023080e+07
25%,0.000000,59.800000,202308.0,8.000000,17000.000000,5.000000,1997.000000,2.023082e+07
50%,0.000000,75.116250,202308.0,14.000000,30500.000000,9.000000,2005.000000,2.023082e+07
75%,1.000000,84.950000,202308.0,22.000000,49500.000000,14.000000,2015.000000,2.023083e+07
max,2164.000000,257.120000,202308.0,31.000000,990000.000000,73.000000,2023.000000,2.023091e+07

In [136]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        float64
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      int64
 7   계약일       int64
 8   거래금액(만원)  object
 9   층         int64
 10  건축년도      float64
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(4), int64(3), object(9)
memory usage: 1.1+ GB

In [141]:
merged_data["거래금액(만원)"] = merged_data["거래금액(만원)"].apply(lambda x: x.replace(",","")).astype(int)

In [146]:
merged_data["중개사소재지"] = merged_data["중개사소재지"].apply(lambda x: "unknown" if x == "-" else x)

In [151]:
merged_data.isnull().sum()

시군구               0
번지              258
본번               76
부번               76
단지명               0
전용면적(㎡)           0
계약년월              0
계약일               0
거래금액(만원)          0
층                 0
건축년도            115
도로명               0
해제사유발생일     9497436
등기신청일자            0
거래유형              0
중개사소재지            0
dtype: int64

In [154]:
merged_data[merged_data["건축년도"].isnull()]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
234584,경기도 안양동안구 호계동,847,847,0.0,태하,52.9200,200606,14,12000,6,NaN,포도원로 31,NaN,,-,unknown
234585,경기도 안양동안구 호계동,847,847,0.0,태하,52.9200,200606,30,11000,4,NaN,포도원로 31,NaN,,-,unknown
356973,경기도 안양동안구 호계동,847,847,0.0,태하,52.9200,200609,4,12400,6,NaN,포도원로 31,NaN,,-,unknown
1490203,세종특별자치시 조치원읍 교리,26-3,26,3.0,(26-3),66.6800,200807,18,5500,4,NaN,,NaN,,-,unknown
8852168,강원특별자치도 원주시 무실동,1921,1921,0.0,더샵원주센트럴파크1단지,59.9678,202108,9,39461,9,NaN,한지공원길 120,20220303.0,,-,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9586866,전라북도 군산시 조촌동,3976,3976,0.0,더샵디오션시티,103.9793,202308,6,55800,12,NaN,궁포1로 79,NaN,,중개거래,전북 군산시
9586867,전라북도 군산시 조촌동,3976,3976,0.0,더샵디오션시티,84.9959,202308,13,42000,13,NaN,궁포1로 79,NaN,,중개거래,전북 군산시
9586868,전라북도 군산시 조촌동,3976,3976,0.0,더샵디오션시티,84.9959,202308,14,39700,9,NaN,궁포1로 79,NaN,,중개거래,전북 군산시
9586869,전라북도 군산시 조촌동,3976,3976,0.0,더샵디오션시티,84.9959,202308,19,36700,3,NaN,궁포1로 79,NaN,,중개거래,전북 군산시
9586870,전라북도 군산시 조촌동,3976,3976,0.0,더샵디오션시티,84.9983,202308,28,42000,24,NaN,궁포1로 79,NaN,,중개거래,전북 군산시

In [284]:
merged_data

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.400,200509,23,5000,11,1998.0,양록길23번길 11,NaN,,-,unknown
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.990,200510,30,12750,19,2003.0,오목로 73,NaN,,-,unknown
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.878,200510,20,5750,3,1997.0,시민로245번길 10,NaN,,-,unknown
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.830,200510,20,5500,8,1998.0,회룡로 245,NaN,,-,unknown
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.730,200511,21,12200,11,1992.0,오목로 36,NaN,,-,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9591338,충청북도 충주시 호암동,547-6,0547,6.0,호반현대,84.960,202308,12,15700,2,1994.0,신촌2길 29,NaN,,중개거래,충북 충주시
9591339,충청북도 충주시 호암동,221-1,0221,1.0,호암리버빌(2단지),84.680,202308,10,20700,3,2002.0,호암중앙2로 5,NaN,,중개거래,충북 충주시
9591340,충청북도 충주시 호암동,1191,1191,0.0,호암힐데스하임,84.950,202308,21,40200,11,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591341,충청북도 충주시 호암동,1191,1191,0.0,호암힐데스하임,99.870,202308,26,50000,13,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591342,충청북도 충주시 호암동,1191,1191,0.0,호암힐데스하임,99.800,202308,31,46000,3,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시

In [156]:
merged_data["건축년도"].dropna().astype(int)

0          1998
1          2003
2          1997
3          1998
4          1992
           ...
9591338    1994
9591339    2002
9591340    2019
9591341    2019
9591342    2019
Name: 건축년도, Length: 9591228, dtype: int32

In [287]:
pwd

'C:\\Users\\hi\\Desktop\\bigdata\\전국부동산실거래가\\전국부동산실거래가'

In [285]:
merged_data.to_csv("부동산실거래가_최종본.csv",encoding="utf-8",index=False)

In [198]:
data = merged_data.drop(['번지','부번','본번','계약일','계약일','도로명','해제사유발생일','등기신청일자','거래유형','중개사소재지'],axis=1)

In [162]:
data.isnull().sum()

시군구           0
단지명           0
전용면적(㎡)       0
계약년월          0
거래금액(만원)      0
층             0
건축년도        115
dtype: int64

In [199]:
data = data.dropna()

In [200]:
data[['계약년월','층','건축년도']] = data[['계약년월','층','건축년도']].astype(object)

In [201]:
data["건축년도"] = data["건축년도"].astype(int)

In [179]:
data[data["층"] == -4]

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도
3397374,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201201,62600,-4,2010
3436513,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201202,62600,-4,2010
3436514,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201202,65050,-4,2010
4816026,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201503,55567,-4,2010

In [181]:
data["시군구2"] = data["시군구"].str.split()

C:\Users\hi\AppData\Local\Temp\ipykernel_5372\1376316857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["시군구2"] = data["시군구"].str.split()

In [182]:
data

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,시군구2
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,200509,5000,11,1998,"[강원특별자치도, 양구군, 양구읍, 상리]"
1,경기도 의정부시 민락동,한라비발디,84.990,200510,12750,19,2003,"[경기도, 의정부시, 민락동]"
2,경기도 의정부시 신곡동,신일1,59.878,200510,5750,3,1997,"[경기도, 의정부시, 신곡동]"
3,경기도 의정부시 신곡동,풍림,49.830,200510,5500,8,1998,"[경기도, 의정부시, 신곡동]"
4,경기도 의정부시 용현동,용현현대1차,129.730,200511,12200,11,1992,"[경기도, 의정부시, 용현동]"
...,...,...,...,...,...,...,...,...
9591338,충청북도 충주시 호암동,호반현대,84.960,202308,15700,2,1994,"[충청북도, 충주시, 호암동]"
9591339,충청북도 충주시 호암동,호암리버빌(2단지),84.680,202308,20700,3,2002,"[충청북도, 충주시, 호암동]"
9591340,충청북도 충주시 호암동,호암힐데스하임,84.950,202308,40200,11,2019,"[충청북도, 충주시, 호암동]"
9591341,충청북도 충주시 호암동,호암힐데스하임,99.870,202308,50000,13,2019,"[충청북도, 충주시, 호암동]"
9591342,충청북도 충주시 호암동,호암힐데스하임,99.800,202308,46000,3,2019,"[충청북도, 충주시, 호암동]"

In [202]:
data = data.drop('시군구2',axis=1)

KeyError: "['시군구2'] not found in axis"

In [203]:
data

                        시군구         단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0        강원특별자치도 양구군 양구읍 상리          경림   59.400  200509      5000  11  1998
1              경기도 의정부시 민락동       한라비발디   84.990  200510     12750  19  2003
2              경기도 의정부시 신곡동         신일1   59.878  200510      5750   3  1997
3              경기도 의정부시 신곡동          풍림   49.830  200510      5500   8  1998
4              경기도 의정부시 용현동      용현현대1차  129.730  200511     12200  11  1992
...                     ...         ...      ...     ...       ...  ..   ...
9591338        충청북도 충주시 호암동        호반현대   84.960  202308     15700   2  1994
9591339        충청북도 충주시 호암동  호암리버빌(2단지)   84.680  202308     20700   3  2002
9591340        충청북도 충주시 호암동     호암힐데스하임   84.950  202308     40200  11  2019
9591341        충청북도 충주시 호암동     호암힐데스하임   99.870  202308     50000  13  2019
9591342        충청북도 충주시 호암동     호암힐데스하임   99.800  202308     46000   3  2019

[9591228 rows x 7 columns]

In [183]:
from sklearn.preprocessing import LabelEncoder

In [204]:
le = LabelEncoder() 
data["시군구"] =  le.fit_transform(data['시군구'])

In [205]:
data

          시군구         단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0          75          경림   59.400  200509      5000  11  1998
1         666       한라비발디   84.990  200510     12750  19  2003
2         668         신일1   59.878  200510      5750   3  1997
3         668          풍림   49.830  200510      5500   8  1998
4         669      용현현대1차  129.730  200511     12200  11  1992
...       ...         ...      ...     ...       ...  ..   ...
9591338  3653        호반현대   84.960  202308     15700   2  1994
9591339  3653  호암리버빌(2단지)   84.680  202308     20700   3  2002
9591340  3653     호암힐데스하임   84.950  202308     40200  11  2019
9591341  3653     호암힐데스하임   99.870  202308     50000  13  2019
9591342  3653     호암힐데스하임   99.800  202308     46000   3  2019

[9591228 rows x 7 columns]

In [188]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9591228 entries, 0 to 9591342
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      object
 4   거래금액(만원)  int32
 5   층         object
 6   건축년도      int32
dtypes: float64(1), int32(2), object(4)
memory usage: 770.2+ MB

In [191]:
le.inverse_transform(temp[3:4])

array(['경기도 의정부시 신곡동'], dtype=object)

In [207]:
le2 = LabelEncoder() 
data["단지명"]  = le2.fit_transform(data["단지명"])

In [266]:
X = data.drop("거래금액(만원)",axis=1)
y = data["거래금액(만원)"]

In [216]:
data

          시군구    단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0          75   2104   59.400  200509      5000  11  1998
1         666  30939   84.990  200510     12750  19  2003
2         668  19400   59.878  200510      5750   3  1997
3         668  30208   49.830  200510      5500   8  1998
4         669  22739  129.730  200511     12200  11  1992
...       ...    ...      ...     ...       ...  ..   ...
9591338  3653  33054   84.960  202308     15700   2  1994
9591339  3653  33105   84.680  202308     20700   3  2002
9591340  3653  33110   84.950  202308     40200  11  2019
9591341  3653  33110   99.870  202308     50000  13  2019
9591342  3653  33110   99.800  202308     46000   3  2019

[9591228 rows x 7 columns]

In [210]:
from sklearn.preprocessing import RobustScaler

In [217]:
rc = RobustScaler() 
X = rc.fit_transform(X)
X = pd.DataFrame(X,columns=["시군구","단지명","전용면적(㎡)","계약년월","층","건축년도"])

In [218]:
X

              시군구       단지명   전용면적(㎡)      계약년월         층      건축년도
0       -0.977248 -0.972467 -0.575108 -1.101996  0.333333 -0.166667
1       -0.649279  0.745948  0.431184 -1.100887  1.222222  0.250000
2       -0.648169  0.058284 -0.556311 -1.100887 -0.555556 -0.250000
3       -0.648169  0.702384 -0.951435 -1.100887  0.000000 -0.166667
4       -0.647614  0.257271  2.190523 -1.099778  0.333333 -0.666667
...           ...       ...       ...       ...       ...       ...
9591223  1.008324  0.871990  0.430004  0.892461 -0.666667 -0.500000
9591224  1.008324  0.875030  0.418993  0.892461 -0.555556  0.166667
9591225  1.008324  0.875328  0.429611  0.892461  0.333333  1.583333
9591226  1.008324  0.875328  1.016319  0.892461  0.555556  1.583333
9591227  1.008324  0.875328  1.013567  0.892461 -0.555556  1.583333

[9591228 rows x 6 columns]

In [223]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=10)
X_valid,X_test,y_valid,y_test = train_test_split(X_test,y_test,test_size=0.5,random_state=10)

In [221]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,mean_squared_error,r2_score

In [226]:
lm = LinearRegression() 
lm.fit(X_train,y_train)
lm_pred = lm.predict(X_valid)

# print(accuracy_score(y_valid,lm_pred))
print(mean_squared_error(y_valid,lm_pred))
print(r2_score(y_valid,lm_pred))

455732140.8871859
0.31166284851187886

In [228]:
from sklearn.tree import DecisionTreeRegressor 

dtr = DecisionTreeRegressor()
dtr.fit(X_train,y_train)
dtr_pred = dtr.predict(X_valid)

print(mean_squared_error(y_valid,dtr_pred))
print(r2_score(y_valid,dtr_pred))

22173621.599316705
0.9665089947350731

In [246]:
a = pd.DataFrame(y_valid)

In [236]:
b = pd.DataFrame(dtr_pred,columns=["예측금액"])

In [250]:
a = a.reset_index().drop("index",axis=1)

In [243]:
b

            예측금액
0        32700.0
1        25000.0
2        32500.0
3        11000.0
4        21000.0
...          ...
1918241  37500.0
1918242   4400.0
1918243  40700.0
1918244  29400.0
1918245  26800.0

[1918246 rows x 1 columns]

In [253]:
concat_df = pd.concat([a,b],axis=1)

In [254]:
concat_df

         거래금액(만원)     예측금액
0           31500  32700.0
1           24900  25000.0
2           31500  32500.0
3           12300  11000.0
4           21200  21000.0
...           ...      ...
1918241     40000  37500.0
1918242      5000   4400.0
1918243     38500  40700.0
1918244     31800  29400.0
1918245     27200  26800.0

[1918246 rows x 2 columns]

In [256]:
dtr_pred2 = dtr.predict(X_test)

In [258]:
print(mean_squared_error(y_test,dtr_pred2))
print(r2_score(y_test,dtr_pred2))

21702835.430550054
0.9671063289029203

## 모델 2 만들고 사용하기

In [261]:
data2 = data[['전용면적(㎡)', '계약년월', '거래금액(만원)', '층', '건축년도']].copy()

In [262]:
data2

         전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0         59.400  200509      5000  11  1998
1         84.990  200510     12750  19  2003
2         59.878  200510      5750   3  1997
3         49.830  200510      5500   8  1998
4        129.730  200511     12200  11  1992
...          ...     ...       ...  ..   ...
9591338   84.960  202308     15700   2  1994
9591339   84.680  202308     20700   3  2002
9591340   84.950  202308     40200  11  2019
9591341   99.870  202308     50000  13  2019
9591342   99.800  202308     46000   3  2019

[9591228 rows x 5 columns]

In [274]:
X2 = data2.drop("거래금액(만원)",axis=1)
y2= data2["거래금액(만원)"]

In [270]:
X2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9591228 entries, 0 to 9591342
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   전용면적(㎡)  float64
 1   계약년월     object
 2   층        object
 3   건축년도     int32
dtypes: float64(1), int32(1), object(2)
memory usage: 587.3+ MB

In [278]:
X2

         전용면적(㎡)    계약년월   층  건축년도
0         59.400  200509  11  1998
1         84.990  200510  19  2003
2         59.878  200510   3  1997
3         49.830  200510   8  1998
4        129.730  200511  11  1992
...          ...     ...  ..   ...
9591338   84.960  202308   2  1994
9591339   84.680  202308   3  2002
9591340   84.950  202308  11  2019
9591341   99.870  202308  13  2019
9591342   99.800  202308   3  2019

[9591228 rows x 4 columns]

In [279]:
rc2 = RobustScaler() 
temp = rc2.fit_transform(X2.drop("계약년월",axis=1))
temp = pd.DataFrame(temp,columns=["전용면적","층","건축년도"])
temp.head()

       전용면적         층      건축년도
0 -0.575108  0.333333 -0.166667
1  0.431184  1.222222  0.250000
2 -0.556311 -0.555556 -0.250000
3 -0.951435  0.000000 -0.166667
4  2.190523  0.333333 -0.666667

In [280]:
X2 = pd.get_dummies(X2["건축년도"],drop_first=True)

In [281]:
pd.concat([temp,X2],axis=1)

MemoryError: Unable to allocate 732. MiB for an array with shape (10, 9591343) and data type object

MemoryError: Unable to allocate 512. MiB for an array with shape (7, 9591343) and data type object