In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\hi\Downloads\부동산실거래가1998-2023.csv",encoding="utf-8")

In [10]:
X = data.drop(["거래금액(만원)","시군구","단지명"],axis=1)
y = data["거래금액(만원)"]

In [7]:
from sklearn.preprocessing import RobustScaler

In [11]:
X

         전용면적(㎡)    계약년월   층  건축년도
0         59.400  200509  11  1998
1         84.990  200510  19  2003
2         59.878  200510   3  1997
3         49.830  200510   8  1998
4        129.730  200511  11  1992
...          ...     ...  ..   ...
9591223   84.960  202308   2  1994
9591224   84.680  202308   3  2002
9591225   84.950  202308  11  2019
9591226   99.870  202308  13  2019
9591227   99.800  202308   3  2019

[9591228 rows x 4 columns]

In [12]:
rc = RobustScaler() 
X_scaled = rc.fit_transform(X)
X_scaled = pd.DataFrame(X,columns=X.columns)

In [13]:
X_scaled

         전용면적(㎡)    계약년월   층  건축년도
0         59.400  200509  11  1998
1         84.990  200510  19  2003
2         59.878  200510   3  1997
3         49.830  200510   8  1998
4        129.730  200511  11  1992
...          ...     ...  ..   ...
9591223   84.960  202308   2  1994
9591224   84.680  202308   3  2002
9591225   84.950  202308  11  2019
9591226   99.870  202308  13  2019
9591227   99.800  202308   3  2019

[9591228 rows x 4 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.4,random_state=10)
X_valid,X_test,y_valid,y_test = train_test_split(X_test,y_test,test_size=0.5,random_state=10)

In [19]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_log_error,r2_score #회귀분석때 필요한거

In [20]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train,y_train)
dtr_pred = dtr.predict(X_valid)

print(mean_squared_log_error(y_valid,dtr_pred))
print(r2_score(y_valid,dtr_pred))

0.21178902532705007
0.6071851101400749

## 학습된 데이터를 저장

In [21]:
# 변수 혹은 모델에 저장되어 있는 데이터를 파일로 만들어 주는 라이브러리
import joblib

In [22]:
joblib.dump(dtr,'./apart_model.model')

['./apart_model.model']